# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
total_rides_type = pyber_data_df.groupby(['type']).count()['ride_id']

total_rides_type

In [4]:
# 2. Get the total drivers for each city type
total_drivers_type = city_data_df.groupby(['type']).sum()['driver_count']
total_drivers_type

In [5]:
#  3. Get the total amount of fares for each city type
total_fare_type = pyber_data_df.groupby(["type"]).sum()['fare']

total_fare_type

In [6]:
#  4. Get the average fare per ride for each city type. 
fare_avg_type = total_fare_type / total_rides_type

fare_avg_type

In [7]:
# 5. Get the average fare per driver for each city type. 
avg_fare_driver_type = total_fare_type / total_drivers_type

avg_fare_driver_type

In [8]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({
    "Total Rides" : total_rides_type,
    "Total Drivers" : total_drivers_type,
    "Total Fares" : total_fare_type,
    "Average Fare per Ride" : fare_avg_type,
    "Average Fare per Driver" : avg_fare_driver_type
})

pyber_summary_df

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:,.0f}".format)
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:,.0f}".format)
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map("${:,.2f}".format)

pyber_summary_df

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame
pyber_data_df.head()

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
fares_by_date_df = pyber_data_df.groupby(["type", "date"]).sum()[["fare"]]

fares_by_date_df

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
fares_by_date_df = fares_by_date_df.reset_index()

fares_by_date_df.head()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
fares_date_pivot = fares_by_date_df.pivot(index='date', columns='type', values='fare')

fares_date_pivot.tail()

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
fares_jan_april_2019 = fares_date_pivot.loc['2019-01-01':'2019-04-29']

fares_jan_april_2019

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
fares_jan_april_2019.index = pd.to_datetime(fares_jan_april_2019.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()
fares_jan_april_2019.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
fares_weekly_jan_april = fares_jan_april_2019.resample("W").sum()

fares_weekly_jan_april

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 
#, figure=(18,6), ylabel= 'Fare ($USD)', xlabel= '', title= 'Total Fare by City Type'
fares_weekly_jan_april.plot(figsize=(18,6), ylabel= 'Fare ($USD)', xlabel= '', title= 'Total Fare by City Type')

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')

plt.savefig('analysis/PyBer_fare_summary')
plt.show()